<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="error-wrapper">
  <div class="container">
    <img src="/static/img/error/404.png" alt="404 Error" />
    <div class="text-center">
      <h2>Oops! It seems like you've taken a wrong turn.</h2>
      <p>
        The requested page is missing or may have been moved, deleted, or never
        existed. Don't worry, let's get you back on track.
      </p>
      <a href="/" class="btn">Back to Home</a>
    </div>
  </div>
</div>
</body>
</html>
