<%- include('../../components/head.ejs'); %>
<div class="error-wrapper">
  <div class="container">
    <img src="/static/images/error/404.png" alt="404 Error" />
    <div class="text-center">
      <h2>Oops! It seems like you've taken a wrong turn.</h2>
      <p>
        The requested page is missing or may have been moved, deleted, or never
        existed. Don't worry, let's get you back on track.
      </p>
      <a href="/" class="btn">Back to Home</a>
    </div>
  </div>
</div>
<%- include('../../components/footer.ejs'); %>