<%- include('../../components/head.ejs'); %>
<div class="main">
    <%- include('../../components/left-nav.ejs'); %>
    <div class="wrapper"></div>
</div>
<%- include('../../components/footer.ejs'); %>