<header>
    <h3 class="logo">
        Shorty Url
    </h3>
    <ul class="nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="">Blog</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">About Us</a>

        </li>
    </ul>
    <ul class="nav">
        <li>
            <a href="" class="button outlined">Pricing</a>
        </li>
        <li>
            <a href="/signup" class="button outlined">Sign up</a>
        </li>
        <li>
            <a href="/login" class="button outlined">Login</a>
        </li>
    </ul>
</header>